# Исследование и анализ поведения пользователей мобильного приложения

Мы работаете аналитиком в Яндекс.Дзене.


Цель: нам надо автоматизировать анализ пользовательского взаимодействия с карточками статей.
Для этого нам надо ответить на вопросы:
* Сколько взаимодействий пользователей с карточками происходит в системе с разбивкой по темам карточек?
* Как много карточек генерируют источники с разными темами?
* Как соотносятся темы карточек и темы источников?

In [1]:
import pandas as pd
from sqlalchemy import create_engine
!pip install psycopg2
import warnings 
warnings.simplefilter('ignore')
db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string)

query = ''' SELECT *
            FROM dash_visits
        ''' 
dash_visits=pd.io.sql.read_sql(query, con = engine) 

dash_visits.to_csv('dash_visits.csv', index=False)

Requirement already satisfied: psycopg2 in c:\users\denis\anaconda3\lib\site-packages (2.9.3)

In [2]:
def info_data(dash_visits):
    print('\033[1m' + 'Информация, включающая записи датасета:' + '\033[0m')
    display (dash_visits.sample(10))
    print('\033[1m' + 'Информация о датасете:' + '\033[0m\n')
    dash_visits.info()
    print('\033[1m' + '\nДубликатов в таблице:' + '\033[0m', dash_visits.duplicated().sum())
    print('\033[1m' + '\nПодсчет пропусков:' + '\033[0m\n', dash_visits.isna().sum())

In [3]:
info_data(dash_visits)

Информация, включающая записи датасета:

,record_id,item_topic,source_topic,age_segment,dt,visits
27970,1068567,Туризм,История,18-25,2019-09-24 18:31:00,5
22630,1063227,Путешествия,Семейные отношения,45+,2019-09-24 18:58:00,4
26072,1066669,Семья,Психология,36-40,2019-09-24 18:55:00,3
26734,1067331,Скандалы,Знаменитости,18-25,2019-09-24 18:52:00,5
1691,1042288,Дети,История,41-45,2019-09-24 18:54:00,3
1322,1041919,Дети,Деньги,45+,2019-09-24 18:56:00,1
21857,1062454,Путешествия,Знаменитости,36-40,2019-09-24 18:31:00,1
16934,1057531,Отношения,Психология,18-25,2019-09-24 19:00:00,3
29910,1070507,Юмор,Искусство,41-45,2019-09-24 18:59:00,4
5022,1045619,Здоровье,Кино,18-25,2019-09-24 18:57:00,9

Информация о датасете:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30745 entries, 0 to 30744
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   record_id     30745 non-null  int64
 1   item_topic    30745 non-null  object
 2   source_topic  30745 non-null  object
 3   age_segment   30745 non-null  object
 4   dt            30745 non-null  datetime64[ns]
 5   visits        30745 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 1.4+ MB

Дубликатов в таблице: 0

Подсчет пропусков:
 record_id       0
item_topic      0
source_topic    0
age_segment     0
dt              0
visits          0
dtype: int64

1. Мы выгрузили файл, который впоследствии будем использовать для построения дашбордов в Tableau Public.
2. Краем глаза посмотрели на данные ( вроде бы все хорошо, пропусков нет, дубликатов нет) - от нас этого не требовалось, но я решил все равно проверить ).